<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="club-foot">
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/jquery.cookie.js"></script>
    </div>
    <head th:fragment="club-head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--        <link rel="stylesheet" href="/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!--header /http://www.htmleaf.com/jQuery/Menu-Navigation/201607153734.html/-->
        <link rel="stylesheet" href="/css/style.css">
        <!--toast 提示框-->
<!--        <link th:replace="/layout/toast.html::showMsg">-->
        <link th:replace="layout/toast.html::showMsg">

        <script src="/js/jquery-1.11.0.min.js"></script>
        <script src="/js/header.js"></script>
        <title>百社团(҂◔∀◐҂)☆</title>
    </head>
</html>