<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.srb.club.pojo.mapper.UserViewMapper">
    <resultMap id="userView" type="UserViewEntity">
        <result property="updateTime" column="update_time"></result>
        <result property="createTime" column="create_time"></result>
    </resultMap>

    <select id="getUser" resultMap="userView">
        select * from `user-view` where tel=#{tel}
    </select>


</mapper>

